.agree__container {
    width: 1080px;
    position: relative;
    margin: 0 auto;
    color: #9a9a9a;
}
.agree__container h2 {
    color: #545b76;
}
.agree__container .agree__box div {
    margin: 100px 0;
}