
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.middle__box .board__img__container {
    height: 350px;
    background-color: #b1dafa;
    margin-bottom: 100px;
}
.middle__box .board__img__container img {
    width: 1900px;
}

.middle__box .middle__wrap .board__table ul {
    height: 710px;
}
.middle__box .middle__wrap .board__table .board__title__wrap {
    display: flex;
    justify-content: space-between;
}
.middle__box .middle__wrap .board__table .board__title__wrap .board__title {
    line-height: 40px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #545c73;
    font-family: unset;
}
.middle__box .middle__wrap .board__table .board__title__wrap .board__search {
    width: 300px;
    height: 40px;
    border: 1px solid #e7e7e7;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
}
.middle__box .middle__wrap .board__table .board__title__wrap .board__search span {
    margin-left: 20px;
    line-height: 40px;
    color: #777777;
    font-size: 13px;
}
.middle__box .middle__wrap .board__table .board__title__wrap .board__search img {
    height: 25px;
    display: flex;
    margin: 6px 20px 0 0 ;
}

.middle__box .middle__wrap .board__table .board__header {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px 0 15px;
    padding: 20px 0;
    font-size: 15px;
    display: flex;

}
.middle__box .middle__wrap .board__table .board__header span {
    flex: 1;
    font-weight: bold;
    color: #777777;

}
.middle__box .middle__wrap .board__table .board__header span:nth-child(2) {
    flex: 4;
}
.middle__box .middle__wrap .board__table .board__header span:nth-child(n+3) {
    text-align: center;
}
.middle__box .middle__wrap .board__table .board__list {
    padding: 20px 0;
    font-size: 14px;
    display: flex;

}
.middle__box .middle__wrap .board__table .board__list span {
    flex: 1;
    font-weight: bold;
    color: #929292;

}
.middle__box .middle__wrap .board__table .board__list .content {
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.middle__box .middle__wrap .board__table .board__list .reple__bg__complete {
    background-color: #545b76;
    flex-grow: 0.7;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 20px;
    color: #efe8e8;
}
.middle__box .middle__wrap .board__table .board__list .reple__bg__waiting {
    background-color: #7cbdfe;
    flex-grow: 0.7;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 20px;
    color: #efe8e8;
}
.middle__box .middle__wrap .board__table .board__list span:nth-child(2) {
    flex: 4;
}
.middle__box .middle__wrap .board__table .board__list span:nth-child(n+3) {
    text-align: center;
}
.middle__box .middle__wrap .board__table .table__pagination__wrap {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px 0 100px;
    padding: 15px 0;
    font-size: 15px;
    display: flex;

}
.middle__box .middle__wrap .board__table .table__pagination__wrap .pagination {
    width: 480px;
    padding-top: 7px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.middle__box .middle__wrap .board__table .table__pagination__wrap .pagination a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}
.middle__box .middle__wrap .board__table .table__pagination__wrap .pagination strong {
    padding: 0 10px;
    display: inline-block;
}
.middle__box .middle__wrap .board__table .table__pagination__wrap .write {
    text-decoration: none;
    width: 120px;
    height: 35px;
    background-color: #545b77;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    color: #efe8e8;
    font-size: 18px;
}


/*faq*/



.faq__content__wrap {
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
    padding: 10px 0;
}
.faq__content__wrap:last-child {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 35px;
    margin-bottom: 100px;
}
.faq__content__wrap .faq__questions {
    padding: 15px 0;
}
.faq__content__wrap .faq__questions span {
    color: #8acffe;
    font-size: 18px;
    margin-right: 10px;
}
.faq__content__wrap .faq__questions div {
    color: #545b77;
    font-size: 18px;
    font-weight: bold;

}
.faq__content__wrap .faq_answer {
    margin-left: 25px;
}
.faq__content__wrap .faq_answer span {
    color: #747474;
    font-size: 17px;
}

/*qna write*/


/*에디터 css start*/
.container {
    height: auto;
    padding: 0!important;
    margin: 0!important;
    width: 100%;
}
@media (min-width: 1200px) {
    .container {
        width: 100% !important;
    }
}
.note-editor.note-frame {
    height: 500px;
}
.note-editor.note-frame .note-editing-area .note-editable {
    height: 448px;
    resize: none;
}
.note-editor.note-frame .note-statusbar {
    display: none;
}

/*에디터 css end*/


.qna__write__container {
    margin-top: 50px;
}
.qna__write__container label {
    color: red;
    margin-top: 5px;
}
.qna__write__container input {
    outline: none;
    text-indent: 10px;
}
.qna__write__container .customer__information__wrap {
    display: flex;
    flex-direction: row;
}
.qna__write__container .customer__information__wrap .customer__information {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.qna__write__container .customer__information__wrap .customer__information input {
    width: 300px;
    height: 30px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    margin-top: 10px;
}
.qna__write__container .title__box {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 20px 0;
}
.qna__write__container .title__box input {
    height: 30px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    margin-top: 10px;
}
.qna__write__container .content__box {
    display: flex;
    flex-direction: column;
}
.qna__write__container .content__box span {
    margin-bottom: 10px;
}
.board__table .submit__wrap {
    margin: 30px 0 50px;
    text-align: center;
}
.board__table .submit__wrap .button {
    border: 1px solid #e7e7e7;
    color: #9c968b !important;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.board__table .submit__wrap a {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    line-height: 30px;
    top: 1px;
    text-align: center;
}
.board__table .submit__wrap input {
    padding: 0;
}