.marketing__banner {
    background-color: #5b8fb6 !important;
}
.about-us__wrap .about-us__title {
    margin-bottom: 70px;
}
.about-us__wrap .about-us__title h1 {
    font-size: 25px;
    color: #545b77;
    margin: 0;
}
.about-us__wrap .about-us__title div {
    padding: 15px 0;
    font-size: 17px;
    color: #707070;
}
.about-us__wrap .about-us__box {
    margin-top: 260px !important;
    margin-bottom: 0 !important;
    padding-bottom: 50px;
    border-bottom: 1px solid #cacaca;
}
.about-us__wrap .oracle-history__wrap {
    margin-top: 73px;
}
.about-us__wrap .oracle-history__wrap h1 {
    font-size: 25px;
    color: #545b77;
    margin-bottom: 10px !important;
}
.about-us__wrap .oracle-history__wrap .oracle-awards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.about-us__wrap .oracle-history__wrap .oracle-awards:last-child {
    padding-bottom: 120px;
    border-bottom: 1px solid #cacaca;

}
.about-us__wrap .oracle-history__wrap .oracle-awards .awards__list {
    flex: 1;
}
.about-us__wrap .oracle-history__wrap .oracle-awards .awards-year {
    position: relative;
    font-size: 25px;
    font-weight: 900;
    color: #95bb28;
    top: -3px;
    margin: 0 !important;
    display: inline-block;
    border: 0;
    width: 15%;
}
.about-us__wrap .oracle-history__wrap .oracle-awards h3 {
    margin: 0 0 15px 0;
    position: relative;
    font-size: 25px;
    font-weight: 900;
    color: #95bb28;
    top: 10px;
    border: 0;
}
.about-us__wrap .oracle-history__wrap .oracle-awards img {
    display: inline-block;
}
.about-us__wrap .oracle-history__wrap .oracle-awards p {
    display: inline-block;
    font-size: 12px;
    margin: 5px 0;
    color: #656565;
    font-weight: bold;
}
.about-us__wrap .oracle-map__wrap {
    margin: 120px 0 160px;
}
.about-us__wrap .oracle-map__wrap h1 {
    font-size: 25px;
    color: #545b77;
    margin-bottom: 20px !important;
}

/*가맹안내*/
.affiliation__box .top__content__wrap {
    border-bottom: 1px solid #cacaca;

}
.title__box {
    margin: 70px 0;
}
.title__box h1{
    font-size: 30px;
    color: #626781;
    margin-bottom: 10px !important;
}
.title__box h2 {
    font-size: 20px;
    color: #828282;
}
.content__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content__box .content {
    display: flex;
    margin-bottom: 60px;
}
.content__box .content div{
    width: 295px;
    margin-left: 20px;
    padding-top: 10px;
}
.content__box .content h3 {
    color: #496ebf;
    font-size: 25px;
    border: 0;
}
.content__box .content p {
    margin: 3px 0;
    color: #929292;
    display: inline-block;
    font-size: 16px;
}
.bottom__content__wrap {
    height: 880px;
}
.bottom__content__wrap .step__box {
    display: flex;
    flex-wrap: wrap;
}
.bottom__content__wrap .step__box .step__list {
    margin: 0 50px 50px 0;
}
.bottom__content__wrap .step__box .step__list p{
    text-align: center;
    color: #717171;
    font-weight: 900;
}
.list__title {
    margin-bottom: 5px!important;
}
.list__content {
    font-weight: 900;
}
.marketing__bottom {
    height: 550px !important;
}
.middle__content__box {
    border-bottom: 1px solid #cacaca;
}
.consulting__bottom {
    height: auto !important;
    margin-bottom: 150px;
}