.contact-us__box {
    height: 300px;
    background-color: #def4f2;
    display: flex;
    justify-content: center;
}
.contact-us__box .contact-us__wrap {
    max-width: 1080px;
    display: flex;
    justify-content: center;
}
.contact-us__box .contact-us__left__box {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.contact-us__box .contact-us__right__box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-us__box .contact-us__right__box form{
    margin-top: 40px;
    position: relative;
}
.contact-us__box .contact-us__left__box h1{
    font-size: 35px;
    margin: 40px 0 10px;
    color: #77beb8;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}
.contact-us__box .contact-us__left__box h1::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    color: black;
    display: block;
    margin-top: 15px;
}
.contact-us__box .contact-us__left__box div{
    color: #555a77;
    font-size: 25px;
    padding-bottom: 3px;
    font-family: 'Do Hyeon', sans-serif;
}
.contact-us__box .contact-us__wrap .contact-us__right__box .label__font__size{
    font-size: 20px;
    color: #545a74;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    padding: 0 8px;
    top: 1.5px;
}
.contact-us__box .contact-us__right__box #user_name {
    width: 145px;
    height: 35px;
    border: none;
}
.contact-us__box .contact-us__right__box #phone {
    width: 235px;
    height: 35px;
    border: none;
}
.contact-us__box .contact-us__right__box textarea {
    width: 540px;
    height: 110px;
    margin: 10px 0;
    border: 0;
    resize: none;
    font-size: 17px;
    padding: 10px;
    color: #aeaeae;
    font-family: 'Noto Sans KR', sans-serif;
}
.contact-us__box .contact-us__right__box #checked {
    display: none;
}
.contact-us__box .contact-us__right__box .checkbox__label {
    font-size: 16.5px;
    color: #555a77;
}
.contact-us__box .contact-us__right__box .agree {
    text-decoration: none;
    background-color: #afafaf;
    color: #ededed;
    padding: 1px;

}
.contact-us__box .contact-us__right__box .agree__detail img {
    position: absolute;
    right: 0;
    display: inline-block;
}
.logo__banner__box {
    background-color: #545b77;
    display: flex;
    justify-content: center;
    height: 90px;
}
.logo__banner__wrap {
    display: flex;
    align-items: center;
}
.logo__banner__wrap .subsidiary-Introduce__logo {
    width: 1080px;
    display: flex;
    justify-content: space-between;
}
.logo__banner__wrap .subsidiary-Introduce__logo img{
    height: 60px;
}
.footer__box {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__box .footer__wrap {
    width: 580px;
    height: 100px;
}
.footer__box .footer__wrap .supporter__box {
    text-align: center;
}
.footer__box .footer__wrap .supporter__box a {
    padding: 0 10px;
    color: #737373 !important;
    font-weight: bold;
    font-size: 17px;
}
.footer__box .footer__wrap .supporter__box span {
    padding: 0 10px;
    color: #737373;
    font-weight: bold;
    font-size: 17px;
}
.footer__box .footer__wrap .supporter__box .border__line {
    position: relative;
    display: inline-block;
}
.footer__box .footer__wrap .supporter__box .border__line::after {
    content: '';
    width: 2px;
    height: 12px;
    background-color: #737373;
    display: inline-block;
    margin-left: 20px;
}
.footer__box .footer__wrap .supporter__box .border__line::before {
    content: '';
    width: 2px;
    height: 12px;
    background-color: #737373;
    display: inline-block;
    margin-right: 20px;
}
.footer__box .footer__wrap .add__box {
    margin-top: 30px;

}
.footer__box .footer__wrap .add__box div {
    color: #737373;
    font-weight: 600;
    font-size: 16px;
}
.footer__box .footer__wrap .add__box div:last-child {
    text-align: center;
    margin-top: 5px;
}