body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*submenu hover*/
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 21px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-weight: bold;
}

/*
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.main__menu__box a {
    text-decoration: none;
    color: #ffffff;
}
.main__menu__box a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.container {
    width: 100%;
    height: auto;

}

.header__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.header__container .header__logo{
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header__container img{
    height: 60px;
    width: 120px;

}
.container .header__container  .main__menu__box{
    background-color: #545b77;
    height: 85px;
}
.container .header__container .main__menu__box .main__menu__wrap {
    width: 900px;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
}