input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label{
    cursor: pointer;
    padding-left:25px;
}

input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 51px;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=checkbox]:checked + label:before{
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    font-weight:600;
    color: #fff;
    background:#2f87c1;
    text-align: center;
}

#agree {
    display: inline-block;
}
#agree2 {
    display: inline-block;
}
.box__position{
    display: inline-block;
}

.middle__box .main__banner__wrap {
    background-color: #def4f2;
}
.middle__box .main__banner__wrap img {
    width: 100%;
}
.middle__box .middle__wrap {
    width: 1080px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.middle__box .middle__wrap .middle__banner__title {
    text-align: center;
    height: 40px;
    font-size: 34px;
    font-weight: 900;
    color: #545b77;
    letter-spacing: -2px;
    margin: 50px 0 50px;
}
.middle__box .middle__wrap .top__banner__img {
    display: flex;
    justify-content: space-between;
}
.middle__box .middle__wrap .middle__banner__img {
    display: flex;
    margin-top: 100px;
    justify-content: center;

}
.middle__box .middle__wrap .middle__banner__img .notice__box {
    border: 1px solid #cfcfcf;
    width: 347px;
    height: 232px;
    display: inline-block;
}
.middle__box .middle__wrap .middle__banner__img .notice__box ul {
    padding-left: 10px;
    margin-top: 17px;
}
.middle__box .middle__wrap .middle__banner__img .notice__box li {
    list-style: none;
}
.middle__box .middle__wrap .middle__banner__img .notice__box a {
    color: #7a7a7a;
    font-size: 16px;
    display: inline-block;
    width: 220px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}
.middle__box .middle__wrap .middle__banner__img .notice__box span {
    color: #7a7a7a !important;
    font-size: 16px;
    margin-bottom: 4px!important;
    position: relative;
    top: -4px;
}
.middle__box .middle__wrap .middle__banner__img .box__position {
    position: relative;
    margin-right: 12px;
    font-size: 18px;
    font-weight: bold;
}
.middle__box .middle__wrap .middle__banner__img .box__position span {
    display: inline-block;
    margin-bottom: 15px;
    color: #565c76;
}
.middle__box .middle__wrap .middle__banner__img .box__position .intro{
    position: absolute;
    left: 122px;
    top: 115px;
}
.middle__box .middle__wrap .middle__banner__img .box__position .right__span {
    position: absolute;
    right: 0;
    color: #908c8b;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
}
.middle__box .middle__wrap .oracle-awards__box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.middle__box .middle__wrap .subsidiary-Introduce__box {
    margin: 100px 0 190px;
}
.middle__box .middle__wrap .subsidiary-Introduce__box h2{
    color: #545b77;
    font-size: 20px;
    letter-spacing: -2px;
    font-weight: bold;
}
.middle__box .middle__wrap .subsidiary-Introduce__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.middle__box .middle__wrap .subsidiary-Introduce__box img{
    margin-bottom: 23px;
    display: inline-block;
}
